{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <style>
        a:link {color: black}
        body {
        background-color: beige;}
    </style>
</head>
<body>
    <div id="demo" class="carousel slide" data-ride="carousel">
        
        <!-- The slideshow -->
        <div class="carousel-inner" style="text-align: center;">
          <div class="carousel-item active" >
            <img src="https://lh3.googleusercontent.com/proxy/NIK_krCt8gryMGy_wW5bxVhJjRDZGBMSNJTfE5zkMJOb3UyoOXNYkS8bhzgq7ffshiVkAeNwoFVQjA5wlG4_ddZFlfvjYFjUZobyZ3vtMdY8QkKzOPwihg" alt="Los Angeles" width="500" height="auto">
          </div>
          <div class="carousel-item">
            <img src="https://lh3.googleusercontent.com/proxy/NIK_krCt8gryMGy_wW5bxVhJjRDZGBMSNJTfE5zkMJOb3UyoOXNYkS8bhzgq7ffshiVkAeNwoFVQjA5wlG4_ddZFlfvjYFjUZobyZ3vtMdY8QkKzOPwihg" alt="Chicago" width="500" height="auto">
          </div>
          <div class="carousel-item">
            <img src="https://lh3.googleusercontent.com/proxy/NIK_krCt8gryMGy_wW5bxVhJjRDZGBMSNJTfE5zkMJOb3UyoOXNYkS8bhzgq7ffshiVkAeNwoFVQjA5wlG4_ddZFlfvjYFjUZobyZ3vtMdY8QkKzOPwihg" alt="New York" width="500" height="auto">
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev" >
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
          


        <a href="{%url 'new' %}" style="color: black">새글 작성하기</a>
  
{% for blog in blogs%}


<hr>
<div style="text-align: center;">
<a href="{%url 'detail' blog.id%}">
{{blog.title}}
<br>
{{blog.pub_date}}
<br>
{{blog.summary}}
</a>
</div>


{% endfor %}
{% endblock %}

</body>
</html>




